/*band logo*/


.vets-logo{
	margin-left:70px;
}







/*Main backgrounds*/

// .index-background{
	
//  background-image: url("/images/cat-big-image.jpg");
 
//  repeat: no-repeat;
//  position: center;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

.services-background{
	background-color:$basic-white;


}

.about-background{
	background-image:url("/images/blue-vets-background.jpg");

	repeat: no-repeat;
 position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*google map styleing*/

.map{
	margin-left:auto;
	width:100%;
	margin-right:auto;
}

.contact-background{
	background-color:$color-white;
}

