/*descriptive color variables*/ 

$basic-white	:#ffffff;
$basic-grey		:#EFEFEF;
$bright-orange	:#FD9941;
$stone-grey		:#555555;



/*function color variables*/

$color-white		:$basic-white;
$theme-grey			:$basic-grey;
$theme-orange		:$bright-orange;
$theme-darkGrey		:$stone-grey;






