
{% extends "main.twig" %}

{% block content %}

<div class="main-content services-background">

    <div class="side-div" id="services-side-div">
        <div class="title-div-about">
                <h1 class="title-one" id="services-title-one">OUR</h1></br>
                <h1 class="title-two" id="services-title-two">SERVICES</h1>
         
        </div>
    </div>  


    <div class="second-div">

        <ul class="services-list-1">
            
            <li class="list-item"><h5>BOOK AN APPOINTMENT</h5>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>
            </li>

            <li class="list-item"><h5>SURGERY</h5>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>

            </li>

            <li class="list-item"><h5>EMERGENCY CARE</h5>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>

            </li>

            <li class="list-item"><h5>BOARDING</h5>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>

            </li>

        </ul>


         <ul class="services-list-2">
            
            <li class="list-item"><h5>MICROCHIPPING</h5>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>
            </li>

            <li class="list-item"><h5>VACCINATIONS</h5>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>

            </li>

            <li class="list-item"><h5>GROOMING</h5>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>

            </li>

            <li class="list-item"><h5>DENTAL CARE</h5>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>

            </li>

        </ul>

       
    </div>

</div>

<div class="push"></div>

{% endblock content %}









